.create-event-section {
    background: #f6f2ff;
}

.create-event-container {
    height: 100vh;
    display: flex;
    align-items: center;
    gap: 50px;
}

.create-event-form {
    background: #fff;
    padding: 30px;
    width: 100%;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.create-event-form h2 {
    margin-bottom: 20px;
}

.create-event-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.field label {
    display: block;
    margin-bottom: 5px;
}

.input-field {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.input-field:focus {
    outline-color: #501fc1;
}

.create-event-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back-btn {
    background-color: #8456ec;
    font-size: 18px;
    padding: 10px;
    display: flex;
    border-radius: 50%;
    font-weight: 600;
    color: white;
}

.submit-btn {
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: linear-gradient(90deg, #8456ec 3.25%, #e87bf8 100%);
    color: #fff;
    font-weight: 700;
    margin-top: 10px;
}

.create-event-img {
    text-align: right;
}

.create-event-img img {
    width: 80%;
    border-radius: 10px;
}

/* Medium devices (landscape tablets, 689px and up) */
@media only screen and (min-width: 689px) and (max-width: 992px) {
    .create-event-container {
        height: 100vh;
        padding: 50px 20px;
    }

    .create-event-img {
        display: none;
    }
}

/* Extra small devices (phones, 688px and down) */
@media only screen and (max-width: 688px) {
    .create-event-container {
        height: 100vh;
        padding: 50px 20px;
    }

    .create-event-img {
        display: none;
    }
}